{
  "passPerPreset": true,
  "presets": [
    {
      "plugins": [
        "./build/babelRelayPlugin",
        "transform-object-rest-spread",
      ]
    },
    "react",
    "es2015",
    "stage-0"
  ]
}
